# Build artifacts
build/
*.o
*.dSYM
epubtrans

#configuration
conf/
config.json

# Temporary and Debug files
debug_pool/
temp_epub/
*.log

# Generated Output
output_*.epub

# User content
ebooks/
conf/config.json
book_context.json
*.json
*.mobi
*.pub
*.pdf
*.epub


# System files
.DS_Store
.vscode/
.idea/
